 document.addEventListener("DOMContentLoaded", async function() {
    const map = "<%= asset_path('map-full.svg') %>";
    const container = document.querySelector('#map');

    const res = await fetch(map);

    if (res.ok) {
      const svg = await res.text();
      container.innerHTML = svg;
      <%# container.insertAdjacentHTML('beforeend', '<div class="d-flex align-items-sm-end justify-content-end text-center text-white row-cols-4 mb-3"><div class=" bg-iscopy-b bg-gradient rounded-5 px-2"><i class="fa-solid fa-calendar-days"></i>計画中</div><div class=" bg-iscopy-c bg-gradient  rounded-5 px-2"><i class="fa-solid fa-book"></i>記録あり</div><div class=" bg-iscopy-a bg-gradient rounded-5 px-2"><i class="fa-solid fa-bookmark"></i>リピート予定</div></div>'); %>
      container.insertAdjacentHTML('beforeend', '<div class="d-flex align-items-sm-end justify-content-end text-center text-white row-cols-4 mb-3"><div class=" bg-iscopy-b bg-gradient rounded-5 px-2">計画中</div><div class=" bg-iscopy-c bg-gradient  rounded-5 px-2">記録あり</div><div class=" bg-iscopy-a bg-gradient rounded-5 px-2">リピート予定</div></div>');

      const prefectureElements = document.querySelectorAll(".prefecture");
      const prefCodes = JSON.parse(container.getAttribute("data-pref-codes")); //計画がある都道府県のprefecture_id
      const prefRecCodes = JSON.parse(container.getAttribute("data-rec-codes")); //計画がある都道府県のprefecture_id

      prefectureElements.forEach(prefecture => {
        const svgDataCode = parseInt(prefecture.getAttribute("data-code")); //各都道府県のdata-code
        let prefColor = ""
        if ((prefCodes.includes(svgDataCode))&&(prefRecCodes.includes(svgDataCode))) {
          prefecture.style.fill = "#E8C500"; // 計画と記録の両方ある都道府県を色で塗りつぶす
          prefColor = "#E8C500";
        }else if ((prefCodes.includes(svgDataCode)) && !(prefRecCodes.includes(svgDataCode))) {
           prefecture.style.fill = "#8ABF1F"; // 計画がある都道府県を色で塗りつぶす
          prefColor = "#8ABF1F";
        }else if (!(prefCodes.includes(svgDataCode)) && (prefRecCodes.includes(svgDataCode))) {
          prefecture.style.fill = "#70c7f2"; // 記録がある都道府県を色で塗りつぶす
          prefColor = "#70c7f2";
        } else {
          prefecture.setAttribute("fill", "#f0f0f0"); // その他の都道府県は色で塗りつぶす
          prefColor = "#f0f0f0";
        }

        // マウスオーバーで色を変える
        prefecture.addEventListener( 'mouseover', ( event ) => {
          event.currentTarget.style.fill = "#d34e3f"
        } )
        // マウスが離れたら色をもとに戻す
        prefecture.addEventListener( 'mouseleave', ( event ) => {
          event.currentTarget.style.fill = prefColor
        });

        prefecture.addEventListener("click", function() {      
          // 対応する都道府県のplan_pathにリダイレクト
          window.location.href = `/prefectures/${svgDataCode}`;
        });
      });
    }
  });

